{% extends "oscar/base.html" %}
{% block site_alert_warning_nojs %} {% endblock %}
{% block title %}{{ _('about') }} - {% endblock %}
{% block content %}
<div{% if rtl %} dir="ltr"{% endif %}>
    <h1>About <a href="{{ url_for('index') }}">Fox search</a></h1>

    <p>Fox search is a <a href="https://en.wikipedia.org/wiki/Metasearch_engine">metasearch engine</a>, aggregating the results of other <a href="{{ url_for('preferences') }}">search engines</a> while not storing information about its users.
    </p>
    <h2>Why use fox search?</h2>
    <ul>
        <li>Fox may not offer you as personalised results as Google, but it doesn't generate a profile about you</li>
        <li>Fox doesn't care about what you search for, never shares anything with a third party, and it can't be used to compromise you</li>
        <li>Fox is free software, the code is 100% open and you can help to make it better. See more on <a href="https://github.com/natzDev/searx">github</a></li>
    </ul>
    <p>If you do care about privacy, want to be a conscious user, or otherwise believe
    in digital freedom, make fox your default search engine or run it on your own server</p>

<h2>Technical details - How does it work?</h2>

<p>Fox search is a <a href="https://en.wikipedia.org/wiki/Metasearch_engine">metasearch engine</a>,
inspired by the <a href="http://seeks-project.info/">searx project</a>.<br />
It provides basic privacy by mixing your queries with searches on other platforms without storing search data. Queries are made using a POST request on every browser (except chrome*). Therefore they show up in neither our logs, nor your url history. In case of Chrome* users there is an exception, Fox uses the search bar to perform GET requests.<br />
fox can be added to your browser's search bar; moreover, it can be set as the default search engine.
</p>
{% endblock %}
